<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>uniacco</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style type="text/css">
		.container{
			width: 80%; margin: auto; display: none;
		}
		.centerelement{
			text-align: center; margin: 10px; margin-top: 20px;
		}
		.clickableitem{
			cursor: pointer; color: blue;
		}
		.button1{
			height: 40px; width: 250px; background-color: #44ad48; border: none; outline: none; cursor: pointer; font-size: 20px; border-radius: 5px;
		}
		input{
			border: none; border-bottom: solid gray 1px; font-size: 25px; outline: none;
		}
		.noborder{
			border: none;
			outline: none;
		}
		.loginhistory{
			width: 80%; margin: auto; padding-top: 50px; border-top: solid black 1px;
		}
		#template{
			display: none;
		}
		.authtoken{
			width: 80%;
			margin: auto;
		}
	</style>
</head>
<body>

	<div class="container">
		<div style="text-align: center; font-size: 50px; padding: 10px;">
			User Authentication
		</div>
		<div class="centerelement">
			<input id="username" type="text" name="" placeholder="username">
		</div>
		<div class="centerelement">
			<input id="password" type="text" name="" placeholder="password">
		</div>
		<div class="centerelement">
			<button id="signupbutton" class="button1">Signup</button>	
		</div>
		<div class="centerelement">
			<button id="loginbutton" class="button1">Login</button>
		</div>
		<div id="loginaccount" class="centerelement">
			<span>Already have an account </span><span class="clickableitem" id="loginaction">login</span>
		</div>
		<div id="newaccount" class="centerelement">
			<span>new user </span><span class="clickableitem" id="signupaction">signup</span>
		</div>
		<div class="centerelement">
			<a href="https://uniaccoassignment1.herokuapp.com/auth/google">
				<button class="clickableitem noborder">
					<img  src="https://d2yjqys1j7uhg1.cloudfront.net/images/icons/google-square.jpg" style="height: 30px; width: 30px;">
				</button>
			</a>
		</div>
	</div>

	<div class="authtoken">
		<span>Your authentication token is : </span>
		<span class="token"></span>
	</div>


	<div class="loginhistory">
		<div class="centerelement">
			<button id="loginhistorybutton" class="button1">user login history</button>
		</div>
		<ul id="userloginhistory">
			
		</ul>
	</div>


	<div id="template">
		<li class="historylistitem">
			<div>
				<span>username: </span><span class="historyusername"></span><br/>
				<span>ip address: </span><span class="historyipaddress"></span>
			</div>
		</li>
		
	</div>

	<script type="text/javascript">
		const baseurl="https://uniaccoassignment1.herokuapp.com";
		$("#loginbutton").hide();
		$("#newaccount").hide();
		$(".container").show();
		$(".authtoken").hide();

		$("#loginaction").click(function(){
			$("#signupbutton").hide();
			$("#loginbutton").show();
			$("#loginaccount").hide();
			$("#newaccount").show();
		});

		$("#signupaction").click(function(){
			$("#loginbutton").hide();
			$("#signupbutton").show();
			$("#newaccount").hide();
			$("#loginaccount").show();
		});




		$("#signupbutton").click(function(){
			var url = baseurl+"/user/signup";
			var username = $("#username").val();
			var password = $("#password").val();
			$.ajax({
				method: "POST",
				url: url,
				data: {
					username: username,
					password: password
				}
			}).done(function(data){
				console.log(data);
				console.log(data.authenticationToken)
				console.log(data["authenticationToken"])
				
				$(".container").hide();
				$(".authtoken .token").text(data["authenticationToken"]);
				$(".authtoken").show();
				
				
					
			});
		});


		$("#loginbutton").click(function(){
			var url = baseurl+"/user/login";
			var username = $("#username").val();
			var password = $("#password").val();
			$.ajax({
				method: "POST",
				url: url,
				data: {
					username: username,
					password: password
				}
			}).done(function(data){
				console.log(data);
				$(".container").hide();
				console.log(data.authenticationToken);
				console.log(data["authenticationToken"])
				$(".authtoken").find(".token").text(data.authenticationToken).end();
				$(".authtoken").show();
			});
		});


		$("#loginhistorybutton").click(function(){
			var url = baseurl+"/loginhistory";
			$.ajax({
				method: "GET",
				url: url
			}).done(function(data){
				$("userloginhistory").remove();
				var $clone = $("#template").find(".historylistitem").clone();
				for(var x in data){
					var $tclone = $clone.clone();
					console.log(data[x]);
					console.log(x["username"])
					console.log(x.ipaddress)
					$tclone.find(".historyusername").text(data[x].username).end().find(".historyipaddress").text(data[x].ipaddress).end();
					$("#userloginhistory").append($tclone);
				}
			});
		});





	</script>


</body>
</html>